{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Incorporation_code</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Deleted_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.slug }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.incorporationCode }}</td>
                <td>{{ video.status ? 'Yes' : 'No' }}</td>
                <td>{{ video.createdAt ? video.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.updatedAt ? video.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.deletedAt ? video.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('video_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_new') }}">Create new</a>
{% endblock %}