{% form_theme form with 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
{{ form_row(form._token) }}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 form-group {{ form.name.vars.errors.count() > 0 ? 'has-error' : '' }}">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {"attr": {"class": "form-control"}}) }}
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group {{ form.type.vars.errors.count() > 0 ? 'has-error' : '' }}">
            {{ form_label(form.type) }}
            {{ form_widget(form.type, {"attr": {"class": "form-control"}}) }}
            {{ form_errors(form.type) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group {{ form.image.vars.errors.count() > 0 ? 'has-error' : '' }}">
            {{ form_label(form.image) }}
            {{ form_widget(form.image, {"attr": {"class": "form-control"}}) }}

            {% if partner.image != null %}
                <br>
                <img src="{{ path_partner ~ partner.image }}" class="img img-responsive img-preview thumbnail"/>
            {% endif %}
            {{ form_errors(form.image) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="ln_solid"></div>

        <button class="btn btn-primary">
            <i class="fa fa-save"></i> {{ button_label|default('Salvar') }}
        </button>

        {% if partner.id %}
            <a href="{{ path('admin_partner_create') }}" class="btn btn-default">
                <i class="fa fa-plus-circle"></i> Novo Registro
            </a>
        {% endif %}
    </div>
</div>