{% extends 'base_admin.html.twig' %}

{% block title %}Editar Parceiro{% endblock %}

{% block body_admin %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_partner_list') }}" class="btn btn-primary">back to list</a>

{% endblock %}