{% extends 'base_admin.html.twig' %}

{% block title %}Parceiros{% endblock %}

{% block body_admin %}

    <div class="x_panel">
        <div class="x_title">
            <a class="btn btn-primary" href="{{ path('admin_partner_create') }}">
                <i class="fa fa-plus-circle"></i> Adicionar
            </a>
        </div>

        <div class="x_content">
            <div>
                {{ form_start(form, {"method": "get", "attr": {"novalidate": "novalidate"}}) }}
                <div class="col-md-3 form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {"attr": {"class": "form-control"}}) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="col-md-3 form-group">
                    {{ form_label(form.type) }}
                    {{ form_widget(form.type, {"attr": {"class": "form-control"}}) }}
                    {{ form_errors(form.type) }}
                </div>
                <div class="col-md-2 form-group" style="margin-top: 26px">
                    {{ form_widget(form.btn_consultar, {"attr": {"class": "btn btn-primary"}}) }}
                </div>
                {{ form_end(form) }}
            </div>

            <hr>
            <table class="table table-striped table-bordered jambo_table bulk_action">
                <thead>
                <tr class="headings">
                    <th style="width: 160px" class="text-center">Criado em</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th style="width: 100px" class="text-center">Status</th>
                    <th style="width: 180px" class="text-center">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for partner in partners %}
                    <tr>
                        <td class="text-center">{{ partner.createdAt ? partner.createdAt|date('d/m/Y H:i') : '' }}</td>
                        <td>{{ partner.name }}</td>
                        <td>{{ partner.type == 'A' ? 'Apoiador' : 'Patrocinador' }}</td>
                        <td class="text-center">{{ partner.status ? 'Ativo' : 'Inativo' }}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-default btn-sm" title="Ver"
                                   href="{{ path('admin_partner_show', {'id': partner.id}) }}">
                                    <i class="fa fa-eye"></i> Ver
                                </a>
                                <a class="btn btn-warning btn-sm" title="Editar"
                                   href="{{ path('admin_partner_edit', {'id': partner.id}) }}">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                                {{ include('admin/partner/_delete_form.html.twig', {"gridButton": true}) }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Nenhum registro encontrado.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="pagerfanta text-center">
                {{ pagerfanta(pager, 'twitter_bootstrap3') }}
            </div>
        </div>
    </div>
{% endblock %}
